body {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
  zoom: 1;
}
.dark-mode {
  background-color: black;
  color: rgb(255, 255, 255);
}
#dark-btn {
  width: 100px;
  height: 30px;
  border-radius: 50px;
  background-image: linear-gradient(135deg, #feb692 0%, #ea5455 100%);
  box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5);
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 24px;
  color: rgb(255, 255, 255);
  margin-top: 200px;
  padding: auto;
  margin-bottom: 50px;
}

button {
  transition: all 0.3s ease-in-out;
  font-family: "Dosis", sans-serif;
}

button {
  width: 130px;
  height: 50px;
  border-radius: 50px;
  background-image: linear-gradient(135deg, #feb692 0%, #ea5455 100%);
  box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5);
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 24px;
  color: white;
  text-align: center;
}

button:hover {
  transform: translateY(3px);
  box-shadow: none;
}

button:active {
  opacity: 0.5;
}
input {
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #e8e8e8;
  transition: 0.3s;
}

input:focus {
  outline-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #c5c5c5, inset -20px -20px 60px #ffffff;
  transition: 0.3s;
}
#searchPart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 200px;
}
#updatePart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 200px;
}
#listPart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 200px;
  color: white;
}
#search-resultName {
  text-align: center;
}
#search-result {
  text-align: center;
}
#btns{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#searchParts{
  margin-top: 200px;
  gap: 10px;
}
#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
#medExpiryDate{
  height: 50px;
  width: 170px;
}